In [16]:
import pandas as pd

# import pandas and set pandas read_cvs to a variable
ufo_data =pd.read_csv('./data/nuforc_reports.csv')
# ufo_data.head()
df = ufo_data
df.shape

(88125, 12)

In [21]:
"""start functions to clean data"""
def fill_na(df):
    """check to see if there are any null values and changes them to NaN"""
    df.fillna(value = "null", axis = 1, inplace = True)

    
df.head()

,summary,city,state,date_time,shape,duration,stats,report_link,text,posted,city_latitude,city_longitude
0,My wife was driving southeast on a fairly popu...,Chester,VA,2019-12-12T18:43:00,light,5 seconds,Occurred : 12/12/2019 18:43 (Entered as : 12/...,http://www.nuforc.org/webreports/151/S151739.html,My wife was driving southeast on a fairly popu...,2019-12-22T00:00:00,37.343152,-77.408582
1,I think that I may caught a UFO on the NBC Nig...,Rocky Hill,CT,2019-03-22T18:30:00,circle,3-5 seconds,Occurred : 3/22/2019 18:30 (Entered as : 03/2...,http://www.nuforc.org/webreports/145/S145297.html,I think that I may caught a UFO on the NBC Nig...,2019-03-29T00:00:00,41.664800,-72.639300
2,I woke up late in the afternoon 3:30-4pm. I we...,NaN,NaN,NaN,NaN,NaN,Occurred : 4/1/2019 15:45 (Entered as : April...,http://www.nuforc.org/webreports/145/S145556.html,I woke up late in the afternoon 3:30-4pm. I w...,NaN,NaN,NaN
3,I was driving towards the intersection of fall...,Ottawa,ON,2019-04-17T02:00:00,teardrop,10 seconds,Occurred : 4/17/2019 02:00 (Entered as : 04-1...,http://www.nuforc.org/webreports/145/S145697.html,I was driving towards the intersection of fall...,2019-04-18T00:00:00,45.381383,-75.708501
4,"In Peoria Arizona, I saw a cigar shaped craft ...",Peoria,NY,2009-03-15T18:00:00,cigar,2 minutes,Occurred : 3/15/2009 18:00 (Entered as : 03/1...,http://www.nuforc.org/webreports/145/S145723.html,"In Peoria, Arizona, I saw a cigar shaped craft...",2019-04-18T00:00:00,NaN,NaN

In [23]:
def drop_dupes(dataframe, col_check = None):
    """drop duplicates among the summaries to ensure the data isnt repeated"""
    df.drop_duplicates(subset=[col_check], inplace = True)

In [30]:
# if our data doesnt already have one, this is a function to create an index from a later specified column
"""create the index"""

def add_index(self, col_list, index_name="index"):
    df = self.df
    """create the index by concatting two columns"""
    df[index_name] = df[col_list].apply(lambda row: "-".join(row.values.astype(str)), axis=1)
    df = df.set_index(index_name, inplace=True)
    self.df = df

None

In [ ]:
"""write the pandas df back to a csv"""

def write_csv(df):
    clean_UFO_data = (f'./data/cleaned_UFO_data.csv')
    df.to_csv(clean_UFO_data)

In [ ]:
df = DataFrame({'var_1': ['a', 'b', 'c'], 'var_2': [
               1, 2, 3], 'var_3': ['apple', 'banana', 'pear']})
cols = ['var_1', 'var_2']    # Set columns to combine
df['combined'] = df[cols].apply(
    lambda row: ', '.join(row.values.astype(str)), axis=1)

# Define which column is index
df_i = df.set_index('combined')

# Set the index to None
df_i.index.names = [None]
col_list = [df.city, df.date_time]

In [ ]:
df = pd.DataFrame(
    {'name': ["apple", "banana", "cherry"], 'quant': [40, 50, 60]})
df.columns = ['fruit', 'quantity']
print(df)

In [ ]:
from sqlalchemy import create_engine, text, insert, inspect
from sqlalchemy import MetaData, Table, Column, Integer, String, Numeric, DateTime

In [ ]:
def initdb(self, drop_and_replace=False) -> None:
    """Function to initialize the database with all the tables"""
    
     engine = self.engine
      metadata = self.metadata
       if drop_and_replace:
            logger.info("\tDropping existing tables")
            metadata.drop_all()
        # Define all our tables
        if not inspect(engine).has_table("airports"):
            logger.info("Creating airports table")
            airport_table = Table("airports",
                                  metadata,
                                  Column("iata", String(256),
                                         primary_key=True),
                                  Column("airport", String(256)),
                                  Column("city", String(256)),
                                  Column("state", String(256)),
                   df = DataFrame({'var_1': ['a', 'b', 'c'], 'var_2': [
               1, 2, 3], 'var_3': ['apple', 'banana', 'pear']})
cols = ['var_1', 'var_2']    # Set columns to combine
df['combined'] = df[cols].apply(
    lambda row: ', '.join(row.values.astype(str)), axis=1)

# Define which column is index
df_i = df.set_index('combined')

# Set the index to None
df_i.index.names = [None]               Column("country", String(256)),
                Column("lat", Numeric),
                Column("lon", Numeric),
                extend_existing=True,
            )
        else:
            logger.info("\tairports table present")