In [ ]:
import pandas as pd

# import pandas and set pandas read_cvs to a variable
ufo_data =pd.read_csv('./data/nuforc_reports.csv')
# ufo_data.head()
df = ufo_data
df.shape

In [ ]:
"""start functions to clean data"""
def fill_na(df):
    """check to see if there are any null values and changes them to NaN"""
    df.fillna(value = "null", axis = 1, inplace = True)

    
df.head()

In [ ]:
def drop_dupes(dataframe, col_check = None):
    """drop duplicates among the summaries to ensure the data isnt repeated"""
    df.drop_duplicates(subset=[col_check], inplace = True)

In [ ]:
# if our data doesnt already have one, this is a function to create an index from a later specified column
"""create the index"""

def add_index(self, col_list, index_name="index"):
    df = self.df
    """create the index by concatting two columns"""
    df[index_name] = df[col_list].apply(lambda row: "-".join(row.values.astype(str)), axis=1)
    df = df.set_index(index_name, inplace=True)
    self.df = df

In [ ]:
"""write the pandas df back to a csv"""


def write_csv(df):
    clean_UFO_data = (f'./data/cleaned_UFO_data.csv')
    df.to_csv(clean_UFO_data)

In [ ]:
df = DataFrame({'var_1': ['a', 'b', 'c'], 'var_2': [
               1, 2, 3], 'var_3': ['apple', 'banana', 'pear']})
cols = ['var_1', 'var_2']    # Set columns to combine
df['combined'] = df[cols].apply(
    lambda row: ', '.join(row.values.astype(str)), axis=1)

# Define which column is index
df_i = df.set_index('combined')

# Set the index to None
df_i.index.names = [None]
col_list = [df.city, df.date_time]

In [ ]:
df = pd.DataFrame(
    {'name': ["apple", "banana", "cherry"], 'quant': [40, 50, 60]})
df.columns = ['fruit', 'quantity']
print(df)

In [ ]:
from sqlalchemy import create_engine, text, insert, inspect
from sqlalchemy import MetaData, Table, Column, Integer, String, Numeric, DateTime

In [ ]:
def initdb(self, drop_and_replace=False) -> None:
    """Function to initialize the database with all the tables"""
    
     engine = self.engine
      metadata = self.metadata
       if drop_and_replace:
            logger.info("\tDropping existing tables")
            metadata.drop_all()
        # Define all our tables
        if not inspect(engine).has_table("airports"):
            logger.info("Creating airports table")
            airport_table = Table("airports",
                                  metadata,
                                  Column("iata", String(256),
                                         primary_key=True),
                                  Column("airport", String(256)),
                                  Column("city", String(256)),
                                  Column("state", String(256)),
                   df = DataFrame({'var_1': ['a', 'b', 'c'], 'var_2': [
               1, 2, 3], 'var_3': ['apple', 'banana', 'pear']})
cols = ['var_1', 'var_2']    # Set columns to combine
df['combined'] = df[cols].apply(
    lambda row: ', '.join(row.values.astype(str)), axis=1)

# Define which column is index
df_i = df.set_index('combined')

# Set the index to None
df_i.index.names = [None]               Column("country", String(256)),
                Column("lat", Numeric),
                Column("lon", Numeric),
                extend_existing=True,
            )
        else:
            logger.info("\tairports table present")

In [22]:
import pandas as pd

# import pandas and set pandas read_cvs to a variable
ufo_filepath = './data/nuforc_reports.csv'
ufo_data = pd.read_csv(ufo_filepath, index_col = 'date_time')
df.head()


#  = ['summary', 'city', 'state', 'date_time',
#  'shape', 'duration', 'stats', 'report_link',
#  'text', 'posted', 'city_latitude', 'city_longitude']


def set_header(df):
    header_row = ['summary', 'city', 'state', 'date_time',
                   'shape', 'duration', 'stats', 'report_link',
                   'text', 'posted', 'city_latitude', 'city_longitude']
    df = df.values[1:]

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [ ]:
def csv_to_dataframe(filepath: str, index: str) -> None:
    """
    Load a csv file into a pandas dataframe
    returns inserted csv into 'df' variable
    *args:
        filepath: string of filepath to csv file
        index: string of column to index dataframe by
    """
    df = pd.read_csv(filepath, header=0, index_col=[index])
    return df


def index_setter(dataframe, index):
    """
    Sets the index of dataframe to a desired existing column
    args*:
        dataframe: dataframe to have index changed
        index: name of column that index will be set to
    """
    dataframe.set_index(index, inplace=True)

In [24]:

import pandas as pd
import pprint

# import pandas and set pandas read_cvs to a variable
ufo_filepath = './data/scrubbed.csv'
ufo_data = pd.read_csv(ufo_filepath, header = 0)
df = ufo_data
# helps skip the bad lines to avoid errors
# error_bad_lines = False

ufo_data.index.values.tolist()

# df.set_index(index, inplace = True)
# df.head()
# for col in ufo_data.columns:
    # print(col)
# df.fill_na(value = 'null', inplace = True)
    
# header_row = df.iloc[1]
# df = df.values[1:]


# col_list = ufo_data.columns.values.tolist()
# print(col_list)
# # create empty variables so we know what internal variables need to define later
# col_list = []
# col_check = []


# index_list = ['summary', 'city', 'state', 'date_time',
#  'shape', 'duration', 'stats', 'report_link',
#  'text', 'posted', 'city_latitude', 'city_longitude']
# # """start functions to clean data"""

df.set_index('datetime', inplace=True)
df.head()

# """if our data doesnt already have one, this is a function to create an index from a later specified column"""

# df2 = df.set_index(index_list, inplace=True)

# print(df2)

,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
datetime,,,,,,,,,,
10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [1]:
from datalab.context import Context
import google.datalab.storage as storage
import google.datalab.bigquery as bq
import pandas as pd

# Dataframe to write
simple_dataframe = pd.DataFrame(
    data=[{1, 2, 3}, {4, 5, 6}], columns=['a', 'b', 'c'])

sample_bucket_name = Context.default().project_id + '-datalab-example'
sample_bucket_path = 'gs://' + sample_bucket_name
sample_bucket_object = sample_bucket_path + '/Hello.txt'
bigquery_dataset_name = 'TestDataSet'
bigquery_table_name = 'TestTable'

# Define storage bucket
sample_bucket = storage.Bucket(sample_bucket_name)

# Create storage bucket if it does not exist
if not sample_bucket.exists():
    sample_bucket.create()

# Define BigQuery dataset and table
dataset = bq.Dataset(bigquery_dataset_name)
table = bq.Table(bigquery_dataset_name + '.' + bigquery_table_name)

# Create BigQuery dataset
if not dataset.exists():
    dataset.create()

# Create or overwrite the existing table if it exists
table_schema = bq.Schema.from_data(simple_dataframe)
table.create(schema=table_schema, overwrite=True)

# Write the DataFrame to GCS (Google Cloud Storage)

"""Just a note: I believe you need to execute the % %storage commands in a separate cell from the Python code? –
dartdog
Mar 31, 2016 at 16: 13
3
It depends on whether you want to execute a line magic or cell magic command. For cell magic it is % % storage, for line magic it is %storage. It's ok to use line magic commands in the same cell as other code. Cell magic commands must be in a separate cell from other code –
Anthonios Partheniou
Mar 31, 2016 at 16: 43"""


"""21

I spent a lot of time to find the easiest way to solve this:


df = pd.DataFrame(...)

df.to_csv('gs://bucket/path')
Share
Improve this answer
Follow
answered Mar 11, 2020 at 21: 31
user avatar
Vova Pytsyuk
36122 silver badges66 bronze badges
1
This is hilariously simple. Just make sure to also install gcsfs as a prerequisite(though it'll remind you anyway). If you're coming here in 2020 or later, just skip the complexity and do this. –
                                                                                   bsplosion
                                                                                   Dec 16, 2021 at 4: 59
                                                                                   Is there a way to make a saved file publically accessible directly by passing any argument? –
                                                                                   Danish Bansal
                                                                                   Jan 28 at 9: 31
                                                                                   It is not working. I have created a ubuntu server and installed pip install pandas fsspec gcsfs. I am able to read csv file using pd.read_csv(gs: // BUCKET_PATH) but not able to write –
                                                                                   Shiv Krishna Jaiswal
                                                                                   Apr 9 at 3: 30"""

ModuleNotFoundError: No module named 'datalab'

In [2]:
from datalab.context import Context
import google.datalab.storage as storage
import google.datalab.bigquery as bq
import pandas as pd

ModuleNotFoundError: No module named 'datalab'

In [ ]:
datetime, city, state, country, shape, duration(seconds), duration(hours/min), comments, date posted, latitude, longitude